html,
body {
    margin: 0;
}

body {
    background-color: #212121;
}

.map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.entity {
    position: absolute;
    border-radius: 50%;
}

.entity.player {
    background-color: blue;
}

.entity.enemy {
    background-color: red;
}